<div class="jumbotron">
    <h1>Auto Pilot</h1>
    <p class="lead">Auto Pilot is an app that uses machine learning techniques to respond to your texts automatically</p>
    <p><a href="http://github.com/brain-murphy/autopilot" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>For a user client, you can download the Auto Pilot Android app on the Google Play Store. We will
        be adding more features and likely revamping the GUI as we see fit. The project was originally created
        for a hackathon, so many aspects of it srill feel makeshift.</p>
    </div>
    <div class="col-md-4">
        <h2>Concept</h2>
        <p>The project was submitted to the 2014 HackPrinceton hackathon as an agent for automating your boring conversations.
        At that point, it was more of a novelty than a valid project, but we hope to improve the coherency of our results. 
        We can't make the thing use logic. If we could, we'd be doing much more important things. Yet, ideally the framework 
        should be able to answer simple prompts -- boring text messages.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact / Code</h2>
        <p>If you would like to contact the team, use the email <a href="mailto:brianmurphy@gatech.edu">brianmurphy@gatech.edu</a>. 
        If you would like to check out the source code for this project, the android frontend code is located at 
        <a href="http://www.github.com/brain-murphy/autopilot">this github repository</a>.</p>
    </div>
</div>
